
@font-face {
  font-family: "Casio";
  src: url("./fonts/casio-fx-702p.ttf");
  }

html, body {
  background-color: white;
  min-width: 500px;
}

header {
  color: #2193b0; 
  text-align: center;
  font-size: 5em;
  font-weight: 400;
  font-family: "Casio";
}

.container{
  background-color: white;
}

#instructions {
  color: white;
}

#box{
  background: #2193b0; 
  background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.instruction {
  padding: 15px;
  margin: 10px 0;
}

.plus {
  background-color: #EB7309;
}

.moins {
  background-color: #9E4A00;
}

.fini {
  background-color : #09C1EB;
}